/* 背景 */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    /* 无法选中 */
}

.background img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* logo部分 */

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.logo {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    pointer-events: none;
    /* 添加样式，防止图片被拖动 */
}

.tx-bk {
    animation: spin 10s linear infinite;
    /* 旋转速度变慢 */
}

.tx-bk,
.tx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
}

.tx {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


/* 分界线 */

.fx {
    border: none;
    height: 4px;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 30%);
    margin: 0 15%;
    position: relative;
    /* 将position改为relative */
    top: 350px;
    /* 可以将这行注释掉 */
}

.fx hr {
    border: none;
    margin-top: 4px;
    /* 添加一个适当的上边距 */
}

.fx-1 {
    display: flex;
    /* 使用弹性盒子布局 */
    justify-content: flex-start;
    /* 将内容向左对齐 */
    align-items: center;
    /* 垂直居中 */
    color: aliceblue;
}